In [2]:
if True:
    print('Data Science')

Data Science

In [3]:
if True:
print('ds')

IndentationError: expected an indented block after 'if' statement on line 1 (2469930286.py, line 2)

In [4]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [5]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [6]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [7]:
if False:
    print('Data Science')
else:
    print('bye for now')

bye for now

In [8]:
x = 4
r = x % 2
if r == 0:
    print('Even nimber')

Even nimber

In [9]:
x = 5
r = x % 2
if r == 0:
    print('Even nimber')

In [12]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [17]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number') 
if r == 2:
    print('even number')

Even number

In [18]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('two')
if x == 3:
    print('three')
if x == 4:
    print('four')

one

In [21]:
x = 5

if x == 1:
    print('one')
if x == 2:
    print('two')
if x == 3:
    print('three')
if x == 4:
    print('four')

In [22]:
x = 3
r = x % 2

if r == 0:
    print("Even number")
    if x>5:
        print("greater number")
else:
    print("odd number")

odd number

In [23]:
x = 4
r = x % 2

if r == 0:
    print("Even number")
    if x>5:
        print("greater number")
else:
    print("odd number")

Even number

In [27]:
x = 4
r = x % 2

if r == 0:
    print("Even number")
    if x>5:
        print("greater number")
    else:
        print("lesser number")
else:
    print("odd number")

Even number
lesser number

In [29]:
x = 4
if(x == 1):
    print("one")
elif(x == 2):
    print("two")
elif(x == 3):
    print("three")
elif(x == 4):
    print("four")

four

In [30]:
x = 7
if(x == 1):
    print("one")
elif(x == 2):
    print("two")
elif(x == 3):
    print("three")
elif(x == 4):
    print("four")

In [33]:
x = 7
if(x == 1):
    print("one")
elif(x == 2):
    print("two")
elif(x == 3):
    print("three")
elif(x == 4):
    print("four")
else:
    print("Number is not found")

Number is not found

In [39]:
i = 1
while i<=5:
    print("data science")
    i = i + 1

data science
data science
data science
data science
data science

In [43]:
i = 1

while i<=5:
    print('data science') 
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [44]:
i = 1

while i<=5:
    print('data science', end="") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology'end"")
        j = j + 1
        
    i = i + 1
    print()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3707617296.py, line 7)