In [ ]:
# Example 1: integer variable
age = 25 # Here 'age' is a veriable, and it stores an integer value 25
print (age)

25

In [ ]:
#Example 2: String variable
name = "Prakash" # Here 'name' is a varible, stores a String "Prakash"
print (name)

Prakash

In [ ]:
#Example 3: Flot variable
price = 9.99 # Here 'price' is a varible, stores a floting-point number "9.99"
print (price)

9.99

In [ ]:
#Example 4: Boolean variable
is_active = True # Here 'is_active' ia a varible, stores a Boolean value
print (is_active)

True

In [ ]:
#Storing the value 10 in a variable called 'x'
x = 10
#printing the value of 'x'
print(x)

10

In [ ]:
#Assigning the values to variable
a = 5
b = 5
#Adding two varibles and storing the result in result
result = a + b
#print the result
print(result)

10

In [ ]:
#initial value
score = 50
print (score)
#changing the value of score
score = 100
print (score)

50
100

In [ ]:
#Assigning value to variables
first_name = "prakash"
last_name = "das"
#Concatenating strings and storing in a new variable
full_name = first_name +" "+ last_name

In [ ]:
#Assigning value to variables
first_name = "prakash"
last_name = "das"
#Concatenating strings and storing in a new variable
full_name = first_name +" "+ last_name