In [3]:
print(5+4)
print(5-4)
print(5*4)
print(5/4)
print(5%4)
print(5//4)
print(5**4)

9
1
20
1.25
1
1
625

In [16]:
from re import T
print(type(44))
print(type(12.4))
print(type(5+3j))
print(type("prakash"))
print(type([1,2,3]))
print(type({'name':'prakash'}))
print(type({2.4,4.3,6.2}))
print(type((2.4,4.3,6.2)))
print(type(4==8))
print(type(8<=4))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

In [33]:
first_name = 'PRAKASH'
last_name = 'DAS'
contry = 'IND'
city = 'BALASORE'
age = 24
is_married = False
skills = ['HTML','CSS']
person_info = {
    'firstname':'PRAKASH',
    'lastname':'DAS',
    'contry':'ind',
    'city':'BALASORE',
    }

In [34]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: PRAKASH
First name length: 7
Last name:  DAS
Last name length:  3
Country:  ind
City:  BALASORE
Age:  24
Married:  False
Skills:  ['HTML', 'CSS']
Person information:  {'firstname': 'PRAKASH', 'lastname': 'DAS', 'contry': 'ind', 'city': 'BALASORE'}

In [31]:
first_name, last_name, country, age, is_married = 'Prakash', 'Das', 'ind', 24, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Prakash Das ind 24 False
First name: Prakash
Last name:  Das
Country:  ind
Age:  24
Married:  False